{% extends "master.html" %}

{% block title %}
  The Department
{% endblock %}


{% block content %}

{{form}}

{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Dep</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--&lt;!&ndash;  <label for="dname">Dep name:</label>&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" id="dname" name="dname"><br><br>&ndash;&gt;-->
<!--&lt;!&ndash;  <label for="dlocation">Dep location:</label>&ndash;&gt;-->
<!--&lt;!&ndash;  <input type="text" id="dlocation" name="dlocation"><br><br>&ndash;&gt;-->
<!--    {{ form }}-->
<!--  <input type="submit" value="Submit">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
