{% extends "master.html" %}

{% block title %}
Change Password

{% endblock %}

{% block content %}
<h2>Password change for user {{f_name}}</h2><br><br>
<form method="post" action="">
        {% csrf_token %}
    <div class="container">
<label for="n_password">New password:</label>
<input type="text" id="n_password" name="n_password" value=""><br><br>


<label for="c_password">Confirm password:</label>
<input type="text" id="c_password" name="c_password" value=""><br><br>

<input type="submit" value="Submit">
    </div>
</form>

{% endblock %}