{% extends "master.html" %}

{% block title %}
  Delete Employee
{% endblock %}


{% block content %}

 <h3>CONFIRM DELETE</h3>
    <p>Employee name: {{fu_name}} {{l_name}}</p>
  <input type="submit" value="DELETE">
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>DELETE Employee</title>-->
<!--</head>-->
<!--<body>-->
<!--<form method="post">-->
<!--    {% csrf_token %}-->


<!--  <h3>CONFIRM DELETE</h3>-->
<!--    <p>Employee name: {{f_name}} {{l_name}}</p>-->
<!--  <input type="submit" value="DELETE">-->

<!--</form>-->
<!--</body>-->
<!--</html>-->