{% extends "master.html" %}

{% block title %}
Delete Department
{% endblock %}


{% block content %}

<h5>DEP NAME :  {{dep_name}}</h5>
  <input type="submit" value="DELETE">

{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Add Dep</title>-->
<!--</head>-->
<!--<body>-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<body>-->
<!--<form method="post">-->
<!--    {% csrf_token %}-->

<!--<h5>DEP NAME :  {{dep_name}}</h5>-->
<!--  <input type="submit" value="DELETE">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<!--</body>-->
<!--</html>-->