{% extends "master.html" %}

{% block title %}
Department List

{% endblock %}

{% block extra_css %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #99a7bb;
}
{% endblock %}

{% block content %}
<h2>This Is Department Table <a href="{% url 'add_dep' %}"> + Add dep</a></h2>

<table>
    <tr>
        <th>ID</th>
        <th>DEP_NAME</th>
        <th>DEP_LOCATION</th>
        <th>EDIT DEPARTMENT</th>
        <th>DELETE DEPARTMENT</th>
    </tr>
    {% for y in dep_list %}
    <tr>
        <td>{{y.id}}</td>
        <td>{{y.dep_name}}</td>
        <td>{{y.dep_location}}</td>
        <td> <a href="{% url 'edit_dep' y.id %}"> Edit </a></td>
        <td> <a href="{% url 'delete_dep' y.id %}"> DELETE </a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
