{% extends "master_login_view.html" %}
{% block title %}
  Forgot Password
{% endblock %}

{% block content %}

<form method="post" action="">
        {% csrf_token %}
  <div class="container">
      <div style="text-align:center">
      <span><b>Forgot Password</b></span>
      </div>
    <label for="e_mail"><b>Email</b></label>
    <input type="text" placeholder="Enter your email" name="e_mail">
            <b style="color:red">
{{ error_msg }}
      </b>

    <button type="submit">Submit</button>

  </div>
</form>
{% endblock %}
