{% extends "master_login_view.html" %}
{% block title %}
  Login
{% endblock %}

{% block content %}
<form method="post" action="">
        {% csrf_token %}
  <div class="container">
    <div class="container">
      <h2 style="text-align: center">Login</h2></div>
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required>

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <span class="psw"><a href="{% url 'Forgot_password' %}">Forgot password?</a></span>
  </div>
</form>
{% endblock %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    <form method="post" action="">-->
<!--        {% csrf_token %}-->
<!--        <div class="headingsContainer">-->
<!--        <div style="position:center;font-size:25px" class="mainContainer">-->
<!--            <label for="username">Your username</label>-->
<!--            <input type="text" placeholder="Enter Username" name="username" required>-->
<!--            <br><br>-->
<!--            <label for="password">Your password</label>-->
<!--            <input type="password" placeholder="Enter Password" name="password" required>-->
<!--            <input type="submit" value="Submit">-->
<!--            <b style="color: red">{{ error_msg }}</b>-->
<!--        </div>-->
<!--            </div>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->