{% extends "master_login_view.html" %}
{% block title %}
   Reset Password
{% endblock %}

{% block content %}
<form method="post" action="">
        {% csrf_token %}
    <div class="container">
        <div style="text-align:center">
      <span><b> Reset Password</b></span>
      </div>
<label for="n_password">New password:</label>
<input type="password" id="n_password" name="n_password" value=""><br><br>


<label for="c_password">Confirm password:</label>
<input type="password" id="c_password" name="c_password" value=""><br><br>
            <b style="color:red">
{{ error_msg }}
      </b>
<button type="submit">Submit</button>
    </div>
</form>

{% endblock %}